{% extends '../base.twig' %}

{% set adv =[
    {
        icon: 'cool',
        title: 'Безопасная покупка',
        text: 'Никаких сомнительных транзакций. Мы&nbsp;передаем билеты в&nbsp;руки',
    },
    {
        icon: 'safety',
        title: 'Официальные билеты',
        text: 'Билеты защищены штрих-кодом и&nbsp;содержат идентификационный номер',
    },
    {
        icon: 'delivery',
        title: 'Курьерская доставка',
        text: 'При заказе до&nbsp;12:00&nbsp;&mdash; доставка в&nbsp;день заказа.',
    }
] %}
{% set booking =[
    {
        name: 'Танцевальный партер',
        num: '14 билетов',
        price: '2 100',
    },
    {
        name: 'Танцевальный партер VIP',
        num: '78 билетов',
        price: '4 300',
    },
    {
        name: 'Балкон',
        num: '16 билетов',
        price: '8 300',
    },
    {
        name: 'Балкон VIP',
        num: '2 билета',
        price: '9 700',
    },
    {
        name: 'Партер',
        num: '23 билета',
        price: '14 600',
    },
    {
        name: 'Партер VIP',
        num: '23 билета',
        price: '15 200',
    },
] %}
{% set bookingResults =[
    {
        name: 'Балкон',
        price: '8 300',
    }
] %}
{% set gallery =[
    {
        img: '1.jpg',
    },
    {
        img: '2.jpg',
    },
    {
        img: '3.jpg',
        videoLink: 'https://www.youtube.com/embed/l3IKdW_VAL0',
        video: true
    },
    {
        img: '4.jpg',
        videoLink: 'https://www.youtube.com/embed/l3IKdW_VAL0',
        video: true
    },
    {
        img: '1.jpg',
    },
    {
        img: '2.jpg',
    },
] %}
{% set news =[
    {
        img: '1.jpg',
        text: '10 апреля пройдет концерт в Москве',
        link: 'news-1',
    },
    {
        img: '2.jpg',
        text: 'Концерт в Нур-Султане перенесен на 18 апреля',
        link: 'news-2',
    },
    {
        img: '3.jpg',
        text: 'Состоялась премьера клипа на песню «3x3»',
        link: 'news-1',
    },
    {
        img: '1.jpg',
        text: 'Альбон «Не ври, не верю» возглавил рейтинг «HIT 2020 Europa+»',
        link: 'news-1',
    },
    {
        img: '2.jpg',
        text: '10 апреля пройдет концерт в Москве',
        link: 'news-1',
    },
] %}
{% set music =[
    {
        posterUrl: '/assets/img/slider/2.jpg',
        name: 'Правил больше нет',
        audioUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Swing_Jazz_Drum.mp3',
    },
    {
        posterUrl: '/assets/img/slider/2.jpg',
        name: 'Подруга',
        audioUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Swing_Jazz_Drum.mp3',
    },
    {
        posterUrl: '/assets/img/slider/3.jpg',
        name: 'Всем плевать',
        audioUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Swing_Jazz_Drum.mp3',
    },
    {
        posterUrl: '/assets/img/slider/1.jpg',
        name: 'Правил больше нет',
        audioUrl: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Swing_Jazz_Drum.mp3',
    },
] %}

{% block title %}Главная{% endblock %}

{% block content %}
    {% include '../modules/promo.twig' %}
    {% include '../modules/adv.twig' %}
    {% include '../modules/booking.twig' %}
    {% include '../modules/about.twig' %}
    {% include '../modules/gallery.twig' %}
    {% include '../modules/music.twig' %}
    {% include '../modules/news.twig' %}
{% endblock %}