<section class="section about ">
    <div class="container-helper pre-border">
        <h2 class="about__title f-h1">О концерте</h2>
        <p class="js-readmore about__text">
            В&nbsp;конце 2019&nbsp;года, после двухлетнего перерыва, Скриптонит выпустил новый сольный альбом &laquo;2004&raquo;. Уже этой
            весной артист представит пластинку на&nbsp;концерте в&nbsp;Москве. Альбом пронизан неповторимой атмосферой 2000-х,
            песни пестрят музыкальными рэп-цитатами той эпохи. На&nbsp;презентации в&nbsp;Adrenaline Stadium Скриптонит откроет
            портал в&nbsp;это еще недавнее, но&nbsp;уже слегка позабытое прошлое.
            В&nbsp;конце 2019&nbsp;года, после двухлетнего перерыва, Скриптонит выпустил новый сольный альбом &laquo;2004&raquo;. Уже этой
            весной артист представит пластинку на&nbsp;концерте в&nbsp;Москве. Альбом пронизан неповторимой атмосферой 2000-х,
            песни пестрят музыкальными рэп-цитатами той эпохи. На&nbsp;презентации в&nbsp;Adrenaline Stadium Скриптонит откроет
            портал в&nbsp;это еще недавнее, но&nbsp;уже слегка позабытое прошлое.
            В&nbsp;конце 2019&nbsp;года, после двухлетнего перерыва, Скриптонит выпустил новый сольный альбом &laquo;2004&raquo;. Уже этой
            весной артист представит пластинку на&nbsp;концерте в&nbsp;Москве. Альбом пронизан неповторимой атмосферой 2000-х,
            песни пестрят музыкальными рэп-цитатами той эпохи. На&nbsp;презентации в&nbsp;Adrenaline Stadium Скриптонит откроет
            портал в&nbsp;это еще недавнее, но&nbsp;уже слегка позабытое прошлое.
        </p>
    </div>
</section>