<section class="adv section">
    <div class="container-helper-2">
        {% for item in adv %}
            <div class="adv__item">
                <svg class="icon _{{item.icon}}">
                    <use xlink:href="#{{item.icon}}" />
                </svg>
                <p class="adv__item-title">{{item.title}}</p>
                <p class="adv__item-text">{{item.text}}</p>
            </div>
        {% endfor %}
    </div>
</section>