<section class="section booking hidden-mobile js-booking" id="booking">
    <svg class="icon booking__close js-close-booking">
        <use xlink:href="#close" />
    </svg>
    <div class="container-helper">
        <h2 class="booking__title f-h1">Выберите места</h2>
        <p class="booking__text f-h4">27 мая (Ср.) в 19:00, Газпром Арена</p>
        <div class="switcher-box">
            <input class="switcher__checkbox sr-only" id="io" type="checkbox" checked="checked"/>
            <label class="switcher js-switcher" for="io">
                <span class="switcher__trigger js-switcher-trigger js-booking-view-btn _active" data-value="Схема"></span>
                <span class="switcher__trigger js-switcher-trigger js-booking-list-btn"
                      data-value="Список"></span>
            </label>
        </div>
    </div>
    <div class="js-booking-list booking-list" style="display: none">
        <div class="container-helper">
            <ul class="booking-list__list">
                {% for item in booking %}
                    <li class="booking-list__item">
                        <div class="booking-list__item-inner">
                            <p class="booking-list__item-name">{{ item.name }}</p>
                            <p class="booking-list__item-num">{{ item.num }}</p>
                            <p class="booking-list__item-price">
                                {{ item.price }}
                                <svg class="icon booking-list__icon-ruble">
                                    <use xlink:href="#ruble"/>
                                </svg>
                            </p>
                        </div>
                        <div class="booking-list__item-count js-inner-count hidden">
                            {% include '../macros/count.twig' %}
                        </div>
                        <button class="btn _small js-booking-change">Выбрать</button>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <section class="booking-results">
            <div class="container-helper">
                <div class="booking-results__places">
                    {% for item in bookingResults %}
                        <div class="booking-results__place">
                            <p class="booking-results__place-name">
                                {{ item.name }}
                            </p>
                            <p class="booking-results__place-location">
                                Ряд 33, место 27
                            </p>
                            <p class="booking-results__place-price">
                                {{ item.price }}
                                <svg class="icon">
                                    <use xlink:href="#ruble"/>
                                </svg>
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="booking-results__inner">
                    <p class="booking-results__num">1 билет</p>
                    <p class="booking-results__sum">
                        Итого: 8 300
                        <svg class="icon">
                            <use xlink:href="#ruble"/>
                        </svg>
                    </p>
                </div>
                <button class="btn _green js-modal-order-btn">Оформить заказ</button>
            </div>
        </section>
    </div>
    <div class="booking__future-booking js-booking-view">
        <img src="/assets/img/scene.png" alt="" class="booking__test-img">
        <button class="booking-section js-popup-place">
            <p class="booking-section__place-name">Партер</p>
            <p class="booking-section__place-text">Партер</p>
            <p class="booking-section__place-price">
                4 650
                <svg class="icon">
                    <use xlink:href="#ruble"/>
                </svg>
            </p>
        </button>
    </div>
</section>