<section class="section gallery" id="gallery">
    <div class="container-helper">
        <h2 class="gallery__title f-h1">Фото и видео</h2>
        <div class="gallery__slider slider">
            {% for item in gallery %}
                <div class="gallery__slider-item">
                    <a href="/assets/img/slider/{{ item.img }}" class="gallery__slider-link">
                        <img class="gallery__slider-img" data-lazy="/assets/img/slider/{{ item.img }}" alt="">
                    </a>
                </div>
                {% if (item.video) %}
                    <div class="gallery__slider-item">
                        <a href="{{ item.videoLink }}" class="gallery__slider-link">
                            <img class="gallery__slider-img" src="/assets/img/slider/{{ item.img }}" alt="">
                            <div class="gallery__slider-video">
                                <svg class="icon">
                                    <use xlink:href="#play"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
</section>