<section class="section music">
    <div class="container-helper">
        <h2 class="music__title f-h1">Популярные треки</h2>
        <ul class="music__list">
            {% for item in music %}
                <li class="music__item">
                    <div class="ready-player-1 player">
                        <img class="player__poster" src="{{ item.posterUrl }}" alt="">
                        <p class="player__name">{{ item.name }}</p>
                        <audio crossorigin>
                            <source src="{{ item.audioUrl }}" type="audio/mpeg">
                        </audio>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <button class="link">Еще треки</button>
    </div>
</section>