<section class="section news" id="news">
    <div class="container-helper">
        <h2 class="news__title f-h1">Последние события</h2>
        <div class="news__slider slider">
            {% for item in news %}
                <div class="news__slider-item">
                    <button data-link="{{ item.link }}" class="news__slider-link js-news-link">
                        <img class="news__slider-img" src="/assets/img/news/{{ item.img }}" alt="">
                        <p class="news__slider-text">{{ item.text }}</p>
                    </button>
                </div>
            {% endfor %}
        </div>
        <a class="btn news__btn-buy" href="#booking">Купить билеты</a>
        <section class="news__custom js-news-inner hidden">
            <div class="news__custom-item hidden js-news-popup" data-link="news-1">
                <button class="js-close news__custom-close-special">
                    <svg class="icon">
                        <use xlink:href="#arrow" />
                    </svg>
                </button>
                <p class="news__custom-item-title">10 апреля пройдет концерт в Москве</p>
                <img class="news__custom-item-img" src="/assets/img/news/1.jpg">
                <p class="news__custom-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque corporis dolores
                    earum expedita impedit ipsam labore magni maxime minus, nobis obcaecati pariatur placeat,
                    praesentium quos saepe ullam velit?
                </p>
                <button class="js-close news__custom-close">
                    <svg class="icon">
                        <use xlink:href="#close" />
                    </svg>
                </button>
                <button class="btn _gray js-close news__custom-btn-close">Закрыть</button>
            </div>
            <div class="news__custom-item hidden js-news-popup" data-link="news-2">
                <button class="js-close news__custom-close-special">
                    <svg class="icon">
                        <use xlink:href="#arrow" />
                    </svg>
                </button>
                <p class="news__custom-item-title">10 апреля пройдет концерт в Москве</p>
                <img class="news__custom-item-img" src="/assets/img/news/2.jpg">
                <p class="news__custom-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto atque corporis dolores
                    earum expedita impedit ipsam labore magni maxime minus, nobis obcaecati pariatur placeat,
                    praesentium quos saepe ullam velit?
                </p>
                <button class="js-close news__custom-close">
                    <svg class="icon">
                        <use xlink:href="#close" />
                    </svg>
                </button>
                <button class="btn _gray js-close news__custom-btn-close">Закрыть</button>
            </div>
            <div class="overlay hidden js-overlay"></div>
        </section>
    </div>
</section>