<section class="promo section">
    <div class="container-helper">
        <h1 class="promo__text f-h2">25 апреля, Газпром Арена</h1>
        <p class="promo__title f-mega">Скриптонит</p>
        <a class="btn js-booking-btn" href="#booking">Купить билеты</a>
    </div>
</section>