<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="body">
{% include 'layouts/header.twig' %}
<main class="main">
    {% block content %}{% endblock %}
</main>
{% include 'layouts/footer.twig' %}

<div id="svg-icons"></div>

{% include 'modals/order.twig' %}
{% include 'modals/place.twig' %}

<div id="button-up">
    <svg class="icon"><use xlink:href="#arrow" /></svg>
</div>

<div class="overlay hidden js-overlay"></div>
</body>