html {
    height: 100%;
}

.hidden {
    display: none !important;
}

.hidden-mobile {
    display: none !important;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        display: block !important;
    }
}

#svg-icons {
    display: none;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
    @include media-breakpoint-up(md, $grid-breakpoints) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#button-up{
    display: none;
    position: fixed;
    left: 20px;
    bottom: 40px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius);
    background-color: var(--c-light);
    cursor: pointer;
    transform: rotate(90deg);
    transition: var(--transition);
    @include media-breakpoint-up(sm, $grid-breakpoints) {
        bottom: 80px;
        width: 55px;
        height: 55px;
    }
    &:hover {
        opacity: 0.8;
    }

    & .icon {
        width: 20px;
        height: 20px;
        fill: var(--c-black);
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            width: 25px;
            height: 25px;
        }
    }
}