//Сетка
$grid-breakpoints: (
        xs: 0,
        sm: 410px,
        md: 768px,
        lg: 1050px,
        xl: 1310px,
        xxl: 1910px
);

$container-max-widths: (
        sm: 375px,
        md: 720px,
        lg: 1020px,
        xl: 1280px,
        xxl: 1850px
);

@import "../../../node_modules/bootstrap/scss/bootstrap-grid";

.container-helper {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        max-width: 800px;
    }
    @include media-breakpoint-up(xl, $grid-breakpoints) {
        max-width: 1020px;
        padding-left: 0;
        padding-right: 0;
    }
    @include media-breakpoint-up(xxl, $grid-breakpoints) {
        max-width: 1550px;
    }
}

.container-helper-2 {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        max-width: 800px;
    }
    @include media-breakpoint-up(xl, $grid-breakpoints) {
        max-width: 1020px;
        padding-left: 0;
        padding-right: 0;
    }
    @include media-breakpoint-up(xxl, $grid-breakpoints) {
        max-width: 1550px;
    }
}

//Цвета
:root {
    --c-accent: rgb(98, 36, 255);
    --c-accent-light: rgba(98, 36, 255, 0.5);
    --c-black: rgb(0, 0, 0);
    --c-black-exlight: rgba(0, 0, 0, 0.04);
    --c-black-light: rgba(0, 0, 0, 0.1);
    --c-black-dark: rgba(0, 0, 0, 0.5);
    --c-medium: rgb(184, 184, 184);
    --c-medium-light: rgb(184, 184, 184, 0.5);
    --c-light: rgb(236, 236, 236);
    --c-light-dark: rgba(236, 236, 236, 0.6);
    --c-light-light: rgba(236, 236, 236, 0.3);
    --c-white: rgb(255, 255, 255);
    --c-white-dark: rgba(255, 255, 255, 0.5);
    --c-white-darkest: rgba(255, 255, 255, 0.5);
    --c-red: #ff3154;
    --c-green: #06dc9b;
}

//Шрифт
:root {
    --f-primary: 'Montserrat-Regular', Arial, sans-serif;
    --f-secondary: 'Montserrat-Bold', Arial, sans-serif;
    --f-semibold: 'Montserrat-SemiBold', Arial, sans-serif;
    --f-medium: 'Montserrat-Medium', Arial, sans-serif;
    --f-s-huge: 33px;
    --f-s-h1: 27px;
    --f-s-h2: 30px;
    --f-s-h3: 27px;
    --f-s-h4: 22px;
    --f-s-text: 20px;
    --f-s-text2: 19px;
    --f-s-small: 15px;
    --f-s-small2: 14px;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        --f-s-huge: 110px;
        --f-s-h1: 48px;
    }
    @include media-breakpoint-up(xl, $grid-breakpoints) {
        --f-s-h2: 33px;
    }
}

//Прочее
:root {
    --border: 1px solid var(--c-medium-light);
    --shadow-large: 0 3px 15px 0 rgba(0,0,0,0.09);
    --shadow-small: 0 1px 8px 0 rgba(26,26,26,0.14);
    --border-large: 3px solid var(--c-black-exlight);
    --border-small: 1px solid var(--c-black-light);
    --border-radius: 15px;
    --border-radius-small: 10px;
    --border-radius-exsmall: 4px;
    --transition: all 0.4s ease;
}