.about {
    padding-bottom: 0;
    background-color: var(--c-white);
    & .container-helper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 60px;
        border-bottom: 3px solid var(--c-black-exlight);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            align-items: center;
        }
    }

    &__text {
        max-width: 1100px;
        max-height: 150px;
        overflow: hidden;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            text-align: center;
        }
    }

    & .link {
        margin-top: 30px;
    }
}