.adv {
    background-color: var(--c-light);
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        background-color: var(--c-black);
    }

    & .container-helper-2 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: auto;

        @include media-breakpoint-up(lg, $grid-breakpoints) {
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        max-width: 320px;
        margin-right: 30px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            flex-flow: column nowrap;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            margin-right: 44px;
        }
        @include media-breakpoint-up(xxl, $grid-breakpoints) {
            margin-right: 150px;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    & .icon {
        width: 40px;
        margin-right: 20px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 59px;
            height: 66px;
            margin-bottom: 23px;
            margin-right: 0;
            &._delivery {
                width: 99px;
                height: 58px;
            }
            &._safety {
                width: 61px;
                height: 65px;
            }
        }
    }

    &__item-title {
        font-family: var(--f-secondary);
        font-size: 15px;
        line-height: 1.3;
        color: var(--c-dark);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 20px;
            font-weight: 700;
            text-align: center;
            font-size: var(--f-s-h2);
            color: var(--c-white);
        }
    }

    &__item-text {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
            font-size: var(--f-s-text2);
            line-height: 1.42;
            text-align: center;
            color: var(--c-white-dark);
        }
    }
}