.booking {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
    background-color: var(--c-white);
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        position: static;
        width: auto;
        min-height: auto;
    }
    &__title {
        margin-bottom: 20px;
    }

    &__close {
        position: absolute;
        z-index: 6;
        top: 22px;
        right: 15px;
        width: 30px;
        height: 30px;
        fill: var(--c-black-light);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: none;
        }
    }
    
    &__text {
        margin-bottom: 40px;
        font-family: var(--f-primary);
        font-weight: 400;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            text-align: center;
        }
    }

    & .switcher-box {
        margin-bottom: 30px;
    }

    &__test-img {
        object-fit: cover;
    }

    &__future-booking {
        position: relative;
    }
}

.booking-list {
    & .container-helper {
        padding-left: 0;
        padding-right: 0;
    }

    &__list {
        margin-bottom: 64px;
    }

    &__item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 10px 15px;
        border-radius: var(--border-radius-small);
        box-shadow: 0 1px 0 0 rgba(40, 40, 40, 0.1);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            height: 65px;
            margin-bottom: 20px;
            box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
        }
    }

    &__item-inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            flex-flow: row nowrap;
        }
    }

    &__item-name {
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 300px;
            margin-right: auto;
            font-size: var(--f-s-text);
        }
    }

    &__item-num {
        margin-right: 15px;
        font-size: 15px;
        color: var(--c-black-dark);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-right: 44px;
            font-size: var(--f-s-text);
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            width: 120px;
        }
    }

    &__item-price {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-family: var(--f-secondary);
        font-size: 15px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-right: 5px;
            font-size: var(--f-s-text);
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            width: 190px;
        }

        & svg {
            width: 13px;
            height: 14px;
            margin-left: 6px;
        }
    }

    &__icon-ruble {
        width: 10px;
        height: 10px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: 20px;
            height: 20px;
            margin-right: 81px;
        }
    }

    & .btn {
        width: 135px;
    }
}

.booking-results {
    padding-top: 15px;
    padding-bottom: 35px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        padding-top: 0;
        padding-bottom: 0;
    }
    & .container-helper {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            flex-flow: row nowrap;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__places {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-right: auto;
        }
    }

    &__place {
        min-width: 175px;
        padding: 20px 10px 17px;
        border-top: 4px solid var(--c-red);
        margin-right: 16px;
        border-radius: var(--border-radius-exsmall);
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
    }

    &__place-location {
        font-size: var(--f-s-small2);
        color: var(--c-black-dark);
    }

    &__place-name {
        font-family: var(--f-secondary);
        font-size: var(--f-s-small);
    }

    &__place-price {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-family: var(--f-secondary);
        font-size: var(--f-s-text2);
        line-height: 1;

        & .icon {
            width: 13px;
            margin-left: 5px;
        }
    }

    &__inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
            width: auto;
            margin-right: 30px;
            margin-bottom: 0;
        }
    }

    &__num {
        font-size: var(--f-s-text);
    }

    &__sum {
        order: -1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-family: var(--f-secondary);
        font-size: var(--f-s-h3);

        & .icon {
            width: 20px;
            height: 20px;
            margin-left: 10px;
        }
    }

    & .btn {
        width: 100%;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            width: auto;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            text-transform: none;
        }
    }
}

.booking-section {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 175px;
    padding: 2px 10px 10px;
    border-top: 4px solid var(--c-red);
    margin-right: 16px;
    border-radius: var(--border-small);
    background-color: var(--c-white);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
    &::before {
        content: '';
        position: absolute;
        top: -15px;
        left: 50%;
        margin-left: -15px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid var(--c-white);
    }

    &__place-name {
        margin-bottom: 2px;
        font-family: var(--f-secondary);
        font-size: var(--f-s-small);
        text-align: left;
    }

    &__place-text {
        font-size: var(--f-s-small2);
        text-align: left;
        color: var(--c-black-dark);
    }

    &__place-price {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-family: var(--f-secondary);
        font-size: var(--f-s-text2);
        line-height: 1;

        & .icon {
            width: 13px;
            margin-left: 5px;
        }
    }
}