.btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 14px 30.7px;
    min-height: 56px;
    border-radius: var(--border-radius);
    font-family: var(--f-secondary);
    font-weight: 700;
    font-size: var(--f-s-text2);
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: var(--c-white);
    background-color: var(--c-accent);
    cursor: pointer;
    transition: var(--transition);
    &:hover {
        opacity: 0.8;
    }

    &[disable] {
        opacity: 0.25;
    }
    &._small {
        min-height: 45px;
        padding: 10px 23px;
        text-transform: none;
    }
}

.btn._gray {
    color: var(--c-black);
    background-color: var(--c-light);
}

.btn._green {
    background-color: var(--c-green);
}

.btn-hover {
    transition: var(--transition);
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.6;
    }
}