.checkbox {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 25px;
    padding-left: 35px;
    user-select: none;
    cursor: pointer;
    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__label {
        margin-bottom: 0 !important;
        line-height: 1;
    }
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 22px;
    width: 22px;
    border: var(--border);
    border-color: var(--c-medium-light);
    border-radius: var(--border-radius-exsmall);
    background-color: transparent;
    transition: var(--transition);
}

.checkbox:hover input ~ .checkmark {
    border: var(--border);
    border-color: transparent;
    background-color: var(--c-accent-light);
}

.checkbox:hover input ~ .checkmark::after {
    display: block;
}

.checkbox input:checked ~ .checkmark {
    background-color: var(--c-accent);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid var(--c-white);
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}