.count {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    @include media-breakpoint-up(xl, $grid-breakpoints) {
        width: 135px;
    }

    &__btn {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: var(--border-radius);
        &._plus {
            background-color: var(--c-accent);
            & .icon {
                fill: var(--c-white);
            }
        }

        &._minus {
            border: 1px solid var(--c-accent);
            opacity: 0.25;
            &._special {
                opacity: 1;
            }
            &._special .icon {
                fill: var(--c-accent);
            }
        }
    }

    & .icon {
        width: 20px;
        height: 20px;
        fill: var(--c-black);
    }

    &__num {
        width: 40px;
        font-family: var(--f-secondary);
        text-align: center;
    }
}