.gallery {
    padding-top: 0 !important;
    background-color: var(--c-white);
    &__slider-item {
        position: relative;
        overflow: hidden;
        &:hover .icon {
            fill: var(--c-accent);
        }
    }

    &__slider-img {
        display: block;
        border-radius: var(--border-radius);
        object-fit: contain;
    }

    &__slider-video {
        position: absolute;
        right: 10px;
        bottom: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: var(--border-radius);
        background-color: var(--c-white);
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
    }
}