.input {
    display: block;
    width: 100%;
    height: 55px;
    padding: 14px;
    font-size: var(--f-s-text2);
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--c-black);
    transition: var(--transition);
    &::placeholder {
        color: var(--c-medium);
    }

    &[disabled] {
        background-color: var(--c-light-light);
    }

    &:hover {
        border-color: var(--c-accent-light);
    }
    &:focus {
        border-color: var(--c-accent);
    }
    &:active {
        border-color: var(--c-medium);
        color: var(--c-black);
    }
}

/* Customize the label (the container) */
.radio-custom {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: var(--f-s-text);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark1 {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-custom:hover input ~ .checkmark1 {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-custom input:checked ~ .checkmark1 {
    background-color: var(--c-accent);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-custom input:checked ~ .checkmark1:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-custom .checkmark1:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}