.link {
    font-size: var(--f-s-text2);
    color: var(--c-accent);
    cursor: pointer;
    transition: var(--transition);
    &:hover {
        color: var(--c-black);
    }
    &:active {
        color: var(--c-black-dark);
    }
    &:visited {
        color: var(--c-accent-light);
    }
}

.link._second {
    color: var(--c-black);
    &:hover {
        color: var(--c-accent);
    }
    &:active {
        color: var(--c-accent-light);
    }
    &:visited {
        color: var(--c-black-dark);
    }
}

.link._no-color {
    color: inherit;
    &:hover {
        color: var(--c-accent);
    }
    &:active {
        color: var(--c-accent-light);
    }
}