.modal {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--c-white);
    overflow: auto;
    box-shadow: var(--shadow-large);
    animation: modalOpen 0.4s ease;
    @include media-breakpoint-up(md, $grid-breakpoints) {
        justify-content: center;
        max-width: 510px;
    }
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        max-width: 440px;
    }
    @include media-breakpoint-up(xl, $grid-breakpoints) {
        max-width: 650px;
    }

    &__wrapper {
        width: 100%;
        min-height: 100vh;
        padding: 35px 20px 40px;
        overflow-y: auto;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            min-height: auto;
            padding: 100px 20px 40px;
        }
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            padding: 130px 30px 60px;
        }

    }

    &__inner-radio {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 16px;
        & label:first-of-type {
            margin-right: 18px;
        }
    }

    &__link {
        margin-bottom: 18px;
    }

    & textarea {
        width: 100%;
        min-height: 230px;
        margin-bottom: 18px;
    }

    &__close {
        position: absolute;
        top: 40px;
        right: 20px;
        display: block;
        width: 20px;
        height: 20px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            width: 30px;
            height: 30px;
        }
        &._special {
            position: static;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            @include media-breakpoint-up(md, $grid-breakpoints) {
                display: none;
            }
        }

        & .icon {
            width: 20px;
            height: 20px;
            fill: var(--c-medium);
            @include media-breakpoint-up(md, $grid-breakpoints) {
                width: 30px;
                height: 30px;
            }
        }
    }

    &__title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;
        font-family: var(--f-secondary);
        font-size: var(--f-s-h1);
    }

    &__inner {
        width: 100%;
    }

    & .switcher-box {
        margin-bottom: 24px;
    }

    & .switcher {
        width: 100%;
        &__trigger {
            width: 50%;
        }
    }

    &__form-input {
        margin-bottom: 12px;
    }

    &__form-text {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        &:first-of-type {
            margin-top: 34px;
        }

        & span {
            margin-left: 5px;
            font-family: var(--f-secondary);
            font-weight: 700;
        }

        & .icon {
            width: 14px;
            height: 14px;
            margin-left: 6px;
        }
    }

    &__form-text-label {
        font-family: var(--f-secondary);
    }

    &__form-text-sum {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 24px;
        font-family: var(--f-secondary);
        font-size: var(--f-s-h3);
        & .icon {
            margin-left: 10px;
        }
    }

    &__form-inner {
        margin-bottom: 20px;
    }

    &__form-btn {
        width: 100%;
        text-transform: none;
    }
}