.music {
    background-color: var(--c-light-light);
    &__item {
        margin-bottom: 30px;
    }
    
    & .link {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}