.news {
    &__slider {
        margin-bottom: 20px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 60px;
        }
    }

    &__slider-item {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 12px;
        padding-top: 12px;
        box-shadow: 0 1px 0 0 rgba(40, 40, 40, 0.1);
        transition: var(--transition);
        &:hover p {
            color: var(--c-accent);
        }
        &:last-child {
            box-shadow: none;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
            margin-right: 30px;
            padding-top: 0;
            padding-bottom: 0;
            box-shadow: none;
        }
    }

    &__slider-img {
        display: block;
        width: 45px;
        height: 45px;
        margin-right: 15px;
        border-radius: var(--border-radius-small);
        object-fit: cover;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: auto;
            height: auto;
            margin-bottom: 30px;
            margin-right: 0;
        }
    }

    &__slider-text {
        max-width: 365px;
        font-size: 15px;
        text-align: left;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            font-size: var(--f-s-text);
        }
    }

    &__btn-buy {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
            width: fit-content;
            margin: 0 auto;
            line-height: 1.5;
        }
    }

    & .slick-arrow {
        top: calc(50% - 75px);
    }

    &__custom {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 55;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    &__custom-item {
        position: relative;
        z-index: 70;
        height: 100%;
        padding: 30px;
        background-color: var(--c-white);
        border-radius: var(--border-radius);
        overflow: hidden;
        overflow-y: auto;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            max-width: 680px;
            height: auto;
            overflow: inherit;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            max-width: 720px;
        }
        @include media-breakpoint-up(xxl, $grid-breakpoints) {
            max-width: 775px;
        }
    }

    &__custom-close {
        display: none;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            position: absolute;
            top: 0;
            right: -50px;
            display: block;
            transition: var(--transition);
            &:hover {
                opacity: 0.8;
            }
            &:active {
                opacity: 0.6;
            }
            & .icon {
                width: 30px;
                height: 30px;
                fill: var(--c-medium);
            }
        }
    }

    &__custom-btn-close {
        width: 100%;
        margin-top: 24px;
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: none;
        }
    }

    &__custom-close-special {
        @include media-breakpoint-up(md, $grid-breakpoints) {
            display: none;
        }
    }

    &__custom-item-title {
        margin-bottom: 15px;
        font-family: var(--f-secondary);
        font-size: var(--f-s-h3);
    }

    &__custom-item-img {
        margin-bottom: 15px;
    }

    &__custom-item-text {
        font-size: var(--f-s-text2);
    }
}