.player {
    position: relative;
    display: grid !important;
    grid-template-columns: 45px 1fr 45px;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    width: 100%;
    height: 75px;
    padding: 10px 15px;
    border-radius: var(--border-radius-small);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        grid-template-columns: 45px 45px 1fr;
        grid-column-gap: 30px;
        padding: 15px 30px;
    }

    & .controls {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-right: 0 !important;
        margin-left: 0 !important;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            grid-column: 3/4;
        }
    }

    & .controls__slider {
        margin-left: 0 !important;
        margin-right: 0 !important;
        background-color: transparent;
    }

    & .controls__total-time {
        order: -1;
        margin-right: 15px;
        font-size: var(--f-s-text);
        font-weight: 500;
        color: var(--c-medium);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            position: absolute;
            top: 20px;
            right: 30px;
            margin-right: 0;
        }
    }

    &__poster {
        grid-column: 1/2;
        grid-row: 1/3;
        width: 46px;
        height: 45px;
        margin-right: 20px;
        border-radius: var(--border-radius-small);
        object-fit: cover;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            grid-column: 2/3;
        }
    }

    &__name {
        grid-column: 2/3;
        grid-row: 1/3;
        align-self: flex-start;
        font-size: 15px;
        font-weight: 500;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            grid-column: 3/4;
            font-size: var(--f-s-text);
        }
    }

    & .play-pause-btn {
        grid-column: 3/4;
        grid-row: 1/3;
        display: flex !important;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        border-radius: var(--border-radius);
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
        transition: var(--transition);
        &:hover {
            opacity: 0.8;
        }

        &:hover svg path {
            fill: var(--c-accent);
        }

        &:active {
            opacity: 0.6;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            grid-column: 1/2;
            margin-right: 30px;
        }
        &._active {
            background-color: var(--c-accent);
            & svg path {
                fill: var(--c-white);
            }

            & + .controls .controls__total-time {
                color: var(--c-black);
            }

            & + .controls .controls__slider {
                background-color: var(--c-light);
            }
        }

        & svg {
            width: 15px;
            height: 14px;
            margin-left: 2px;
        }

        & svg path {
            fill: var(--c-black);
        }
    }

    & .loading {
        display: none !important;
    }

    & .controls__progress {
        background-color: var(--c-accent) !important;

    }

    & .pin.progress__pin {
        display: none;
    }

    & .controls__current-time, & .volume {
        display: none;
    }
}