.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;

        & .icon {
            width: 20px;
            height: 20px;
            fill: var(--c-medium);
        }
    }

    & .overlay {
        z-index: 2;
    }

    &__item {
        position: relative;
        z-index: 10;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        max-width: 427px;
        height: fit-content;
        padding: 30px;
        background-color: var(--c-white);
        border-radius: var(--border-radius);
        overflow: hidden;
        overflow-y: auto;
    }

    &__title {
        margin-bottom: 20px;
        font-family: var(--f-secondary);
        font-size: var(--f-s-h4);
    }

    &__num {
        margin-bottom: 10px;
        color: var(--c-black-dark);
    }

    &__sum {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        font-family: var(--f-secondary);

        & .icon {
            width: 15px;
            height: 15px;
        }
    }

    & .booking-results {
        position: absolute;
        bottom: 0;
        z-index: 10;
        width: 100%;
        background-color: var(--c-white);
    }
}