.promo {
    height: 505px;
    color: var(--c-white);
    background: url('/assets/img/promo-mob.jpg') no-repeat;
    background-size: cover;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        height: 660px;
        background: url('/assets/img/promo.jpg') no-repeat;
        background-size: cover;
    }
    @include media-breakpoint-up(xl, $grid-breakpoints) {
        height: 660px;
    }
    &::before {
        content: '';
        z-index: -3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--c-black) 100%);
    }

    & .container-helper {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        &::after {
            content: "";
            position: absolute;
            z-index: 10;
            bottom: -60px;
            left: 0;
            width: 100%;
            height: 3px;
            opacity: 0.1;
            background-color: var(--c-white);
        }
    }

    &__text {
        margin-bottom: 0;
        font-family: var(--f-semibold);
        font-size: 15px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            font-size: var(--f-s-h2);
        }
    }
    
    &__title {
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    & .btn {
        width: calc(100% - 30px);
        @include media-breakpoint-up(sm, $grid-breakpoints) {
            width: auto;
        }
    }
}