.slider {
    & .slick-slide {
        margin: 0 8px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin: 0 15px;
        }
    }

    & .slick-list {
        margin: 0 -8px;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin: 0 -15px;
        }
    }

    & .slick-arrow {
        --slick-arrow: 55px;
        position: absolute;
        top: calc(50% - var(--slick-arrow) / 2);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: var(--slick-arrow);
        height: var(--slick-arrow);
        border-radius: 50%;
        background-color: var(--c-white);
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.09);
        transition: var(--transition);
        &:hover {
            fill: var(--c-accent);
        }

        &._next {
            right: -85px;

            & svg {
                transform: rotate(183deg);
            }
        }

        &._prev {
            left: -85px;
        }
    }

    & .icon-arrow {
        width: 24px;
        height: 30px;
    }
}

.slbImageWrap {
    padding: 5em 0;
    &::after {
        border-radius: var(--border-radius);
        background-color: transparent;
    }
}

.slbImage {
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: var(--border-radius);
}