$c-white: #fff;
$c-black: #000;
$c-theme: #00a8ff;

.switcher-box {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.switcher {
    position: relative;
    display: flex;
    padding: 4px;
    border-radius: var(--border-radius);
    background-color: var(--c-light-dark);
    overflow: hidden;
    cursor: pointer;
    animation: r-n .5s;
    user-select: none;
    font-size: 3vmin;
    will-change: transform;

    &__trigger {
        position: relative;
        z-index: 1;
        padding: 5px 31px;
        font-family: var(--f-secondary);
        font-size: var(--f-s-text2);
        text-align: center;
        color: var(--c-black-dark);
        opacity: 0.6;
        transition: var(--transition);
        &:hover {
            color: var(--c-accent);
        }

        &._active {
            border-radius: 11px;
            color: var(--c-black);
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
            background-color: var(--c-white);
            opacity: 1;
            cursor: default;
            &:hover {
                color: inherit;
            }
        }

        &::after {
            content: attr(data-value);
        }

        &::before {
            --i: var(--x);
            content: attr(data-value);
            position: absolute;
            transition: opacity .3s;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 200%;
        border-radius: inherit;
        transform: translateX(-75%);
        transition: transform .5s ease-in-out;
    }

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}