.f-mega {
    font-family: var(--f-secondary);
    font-size: var(--f-s-huge);
    line-height: 1.1;
}

.f-h1, h1 {
    margin-bottom: 15px;
    font-family: var(--f-secondary);
    font-size: var(--f-s-h1);
    line-height: 1.375;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        margin-bottom: 40px;
    }
}

.f-h2, h2 {
    font-family: var(--f-secondary);
    font-size: var(--f-s-h2);
    line-height: 1.375;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        text-align: center;
    }
}

.f-h3, h3 {
    font-family: var(--f-secondary);
    font-size: var(--f-s-h3);
    line-height: 1.375;
}

.f-h4, h4 {
    font-family: var(--f-secondary);
    font-size: var(--f-s-h4);
    line-height: 1.375;
}