<section class="modal js-modal-order js-modal hidden">
    <div class="modal__wrapper">
        <button class="modal__close js-close hidden-mobile">
            <svg class="icon">
                <use xlink:href="#close" />
            </svg>
        </button>
        <p class="modal__title">
            <button class="modal__close _special js-close">
                <svg class="icon">
                    <use xlink:href="#arrow" />
                </svg>
            </button>
            Оформление заказа
        </p>
        <div class="switcher-box">
            <input class="switcher__checkbox sr-only" id="io" type="checkbox" checked="checked"/>
            <label class="switcher js-switcher" for="io">
                <span class="switcher__trigger js-switcher-trigger-order js-switcher-trigger-order-btn _active"
                      data-value="Эл. билеты"></span>
                <span class="switcher__trigger js-switcher-trigger-order " data-value="Доставка"></span>
            </label>
        </div>
        <div class="modal__inner">
            <div class="booking__future-booking js-switcher-trigger-tickets">
                <form class="modal__form" action="">
                    <input class="input modal__form-input" type="text" placeholder="Ваше имя">
                    <input class="input modal__form-input phone" type="tel" placeholder="Телефон">
                    <input class="input modal__form-input" type="email" placeholder="Email">
                    <label class="checkbox modal__form-inner" for="politics">
                        <input class="checkbox__input" type="checkbox" id="politics">
                        <span class="checkmark"></span>
                        Я согласен с
                        <a href="#" class="link" target="_blank" style="padding-left: 10px;">договором оферты</a>
                    </label>
                    <p class="modal__form-text">2 билета</p>
                    <p class="modal__form-text-sum">
                        Итого: 12 850
                        <svg class="icon">
                            <use xlink:href="#ruble"/>
                        </svg>
                    </p>
                    <button class="btn _green modal__form-btn">Перейти к оплате</button>
                </form>
            </div>
            <div class="booking__future-booking js-switcher-trigger-delivery" style="display: none">
                <form class="modal__form" action="">
                    <p class="modal__form-text-label">Оплата:</p>
                    <div class="modal__inner-radio">
                        <label class="radio-custom">банковской картой
                            <input type="radio" checked="checked" name="payType" value="card">
                            <span class="checkmark1"></span>
                        </label>
                        <label class="radio-custom">наличными
                            <input type="radio" name="payType" value="nal">
                            <span class="checkmark1"></span>
                        </label>
                    </div>
                    <input class="input modal__form-input" type="text" placeholder="Ваше имя">
                    <input class="input modal__form-input phone" type="tel" placeholder="Телефон">
                    <input class="input modal__form-input" type="email" placeholder="Email">
                    <input class="input modal__form-input" type="text" placeholder="Адрес доставки">
                    <button class="modal__link link js-add-comment">Добавить комментарий</button>
                    <textarea class="input js-comment-form hidden" name="" id="" cols="30" rows="10" placeholder="Комментарий"></textarea>
                    <label class="checkbox modal__form-inner" for="politics">
                        <input class="checkbox__input" type="checkbox" id="politics">
                        <span class="checkmark"></span>
                        Я согласен с
                        <a href="#" class="link" target="_blank" style="padding-left: 10px;">договором оферты</a>
                    </label>
                    <p class="modal__form-text">2 билета</p>
                    <p class="modal__form-text">Доставка:
                        <span>300</span>
                        <svg class="icon">
                            <use xlink:href="#ruble" />
                        </svg>
                    </p>
                    <p class="modal__form-text-sum">
                        Итого: 12 850
                        <svg class="icon">
                            <use xlink:href="#ruble"/>
                        </svg>
                    </p>
                    <button class="btn _green modal__form-btn">Перейти к оплате</button>
                </form>
            </div>
        </div>
    </div>
</section>