<section class="js-place-inner popup hidden">
    <div class="popup js-place-popup popup__item">
        <button class="js-close popup__close">
            <svg class="icon">
                <use xlink:href="#close" />
            </svg>
        </button>
        <p class="popup__title">Балкон левая сторона</p>
        <p class="popup__num">16 билетов</p>
        <p class="popup__sum">
            8 300
            <svg class="icon">
                <use xlink:href="#ruble"/>
            </svg>
        </p>
        <div class="count">
            <button class="count__btn _minus js-minus-btn btn-hover">
                <svg class="icon">
                    <use xlink:href="#minus" />
                </svg>
            </button>
            <input class="count__num js-count-field" value="0">
            <button class="count__btn _plus js-plus-btn btn-hover">
                <svg class="icon">
                    <use xlink:href="#plus" />
                </svg>
            </button>
        </div>
    </div>
    <section class="booking-results">
        <div class="container-helper">
            <div class="booking-results__places">
                {% for item in bookingResults %}
                    <div class="booking-results__place">
                        <p class="booking-results__place-name">
                            {{ item.name }}
                        </p>
                        <p class="booking-results__place-price">
                            {{ item.price }}
                            <svg class="icon">
                                <use xlink:href="#ruble"/>
                            </svg>
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="booking-results__inner">
                <p class="booking-results__num">1 билет</p>
                <p class="booking-results__sum">
                    Итого: 8 300
                    <svg class="icon">
                        <use xlink:href="#ruble"/>
                    </svg>
                </p>
            </div>
            <button class="btn _green js-modal-order-btn">Оформить</button>
        </div>
    </section>
    <div class="overlay hidden js-overlay"></div>
</section>