<div class="count">
    <button class="count__btn _minus js-minus-btn btn-hover">
        <svg class="icon">
            <use xlink:href="#minus" />
        </svg>
    </button>
    <span class="count__num js-count-field">0</span>
    <button class="count__btn _plus js-plus-btn btn-hover">
        <svg class="icon">
            <use xlink:href="#plus" />
        </svg>
    </button>
</div>