<footer class="footer">
    <div class="container">
        <p class="footer__text">
            Все права защищены. {{ "now"|date("Y") }}
        </p>
        <section class="footer__socials">
            <p class="footer__socials-text">Пригласить друзей:</p>
            <a class="footer__socials-item" href="#" target="_blank">
                <svg class="icon footer__socials-icon _vk">
                    <use xlink:href="#vk"/>
                </svg>
            </a>
            <a class="footer__socials-item" href="#" target="_blank">
                <svg class="icon footer__socials-icon _fb">
                    <use xlink:href="#fb"/>
                </svg>
            </a>
            <a class="footer__socials-item" href="#" target="_blank">
                <svg class="icon footer__socials-icon _odnokllassniki">
                    <use xlink:href="#odnokllassniki"/>
                </svg>
            </a>
        </section>
        <a href="tel:+78129152723" class="footer__phone link _no-color">(812) 915-27-23</a>
    </div>
</footer>