{% set menu =[
    {
        name: 'Билеты',
        link: '#booking',
    },
    {
        name: 'Фото и видео',
        link: '#gallery',
    },
    {
        name: 'События',
        link: '#news',
    }
] %}

<header class="header">
    <div class="container">
        {% include '../modules/logo.twig' %}
        {% include 'menu.twig' %}
        <div class="header__wrapper">
            <a class="link _no-color header__phone" href="tel:+78129152723">(812) 915-27-23</a>
            <button class="header__cart">
                <svg class="icon header__cart-icon">
                    <use xlink:href="#cart"/>
                </svg>
                <span class="header__cart-text">Корзина:</span>
                <span class="header__cart-count">0</span>
            </button>
        </div>
    </div>
</header>