<nav class="menu">
    <ul class="menu__list">
        {% for item in menu %}
        <li class="menu__item">
            <a href="{{ item.link }}" class="menu__link link _no-color">{{ item.name }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>