.body {
    font-family: var(--f-primary);
    font-size: var(--f-s-text);
    letter-spacing: 0;
    color: var(--c-black);
    scroll-behavior: smooth;
    line-height: 1.5;
    overflow-x: hidden;
    &._modal-open {
        overflow: hidden;
    }
}