.footer {
    padding-top: 34px;
    padding-bottom: 34px;
    color: var(--c-white-darkest);
    background-color: var(--c-black);

    & .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }

    &__socials {
        order: -1;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            order: 0;
            flex-flow: row nowrap;
            justify-content: flex-start;
            width: auto;
        }
    }

    &__socials-text {
        width: 100%;
        margin-bottom: 18px;
        text-align: center;
        color: var(--c-white);
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            width: auto;
            margin-right: 17px;
            margin-bottom: 0;
            text-align: left;
            color: var(--c-white-darkest);
        }
    }

    &__socials-item {
        margin-right: 24px;
        margin-bottom: 18px;
        &:last-child {
            margin-right: 0;
        }
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            margin-bottom: 0;
        }
    }

    &__socials-icon {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 14px;
        height: 24px;
        fill: var(--c-white);
        opacity: 0.8;

        &._vk {
            width: 27px;
            height: 16px;
        }
    }
    
    &__phone {
        text-align: right;
    }
}