.header {
    position: absolute;
    z-index: 5;
    width: 100%;
    padding: 24px 0;
    color: var(--c-white);
    background-color: var(--c-black-dark);
    & .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__phone {
        display: none;
        @include media-breakpoint-up(lg, $grid-breakpoints) {
            display: block;
            margin-right: 40px;
        }
    }

    &__cart {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-weight: 700;
        transition: var(--transition);
        &:hover {
            opacity: 0.8;
        }
        &:active {
            opacity: 0.6;
        }
    }

    &__cart-icon {
        width: 30px;
        height: 23px;
        margin-right: 15px;
        fill: var(--c-white);
    }

    &__cart-text {
        display: none;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            display: block;
            margin-right: 10px;
        }
    }

    &__cart-count {
        height: 30px;
        padding: 5px 8.5px;
        border-radius: 50%;
        line-height: 1;
        background-color: var(--c-accent);
    }
}