.menu {
    display: none;
    @include media-breakpoint-up(lg, $grid-breakpoints) {
        display: block;
    }
    &__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            position: relative;
            right: -40px;
        }
    }

    &__item {
        margin-right: 30px;
        font-family: var(--f-medium);
        @include media-breakpoint-up(xl, $grid-breakpoints) {
            margin-right: 40px;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    & .link {
        font-family: var(--f-medium);
        font-size: var(--f-s-text);
    }
}